## customized file for DKC
# enabled the innodb instead of myisam
# because loss of data on non-graceful reboot


[client]
#password                                       = password
port                                            = 3306
socket                                          = /var/lib/mysql/mysql.sock

[mysqld_safe]

[mysqld]
user                                            = mysql
port                                            = 3306
socket                                          = /var/lib/mysql/mysql.sock
pid-file                                        = /var/lib/mysql/mysqld.pid
log-error                                       = /var/log/mysqld.err
basedir                                         = /usr
datadir                                         = /var/lib/mysql
skip-external-locking
# skip-networking
#ignore-builtin-innodb
#default-storage-engine                         = myisam
default-storage-engine                          = innodb
#bind-address                                   = localhost

myisam-recover=backup,force



#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

